h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2.7em;
  text-align: center;
  margin-bottom: 10px;
}

#game-container {
  margin: 50px auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  text-align: center;

  position: relative;
  border: 2px solid black;
}

.game-button {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  outline: none;
}

#game-container > button {
  position: absolute;
  height: 220px;
  width: 220px;
}

#game-container > button:nth-of-type(1) {
  background-color: rgba(255, 255, 0, 0.3);
  top: 20px;
  left: 20px;
  border-radius: 100% 0 0 0;
}
#game-container > button:nth-of-type(2) {
  background-color: rgba(0, 0, 255, 0.3);
  top: 20px;
  right: 20px;
  border-radius: 0 100% 0 0;
}

#game-container > button:nth-of-type(3) {
  background-color: rgba(255, 0, 0, 0.3);
  bottom: 20px;
  right: 20px;
  border-radius: 0 0 100% 0;
}

#game-container > button:nth-of-type(4) {
  background-color: rgba(0, 255, 0, 0.3);
  bottom: 20px;
  left: 20px;
  border-radius: 0 0 0 100%;
}

#game-functions {
  height: 200px;
  width: 200px;
  background: white;
  border: 2px solid #242324;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 150px;
}

.button-section {
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-self: center;
}

#function-holder {
  margin-top: 0;
}
#function-holder > div:nth-of-type(1) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

#score {
  position: relative;
  margin-left: 7%;
  margin-top: 3%;
  /* font-family: "VT323", mono; */
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  background: #000;
  border: 2px inset rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
  box-shadow: 0 0 1.5em 0.1em rgba(0, 0, 0, 0.25) inset;
  width: 1.2em;
  height: 1em;
}
.little-button {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid #343838;
  box-shadow: 0 1px rgba(0, 0, 0, 0.4);
  background: black;
  margin: auto;
}

#strict-mode {
  vertical-align: top;

  padding: 4px;
  width: 4px;
  height: 4px;
  background-color: #460000;
  border-radius: 100%;
  border: 1px solid #343838;
}
